*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
Assets/First[[:space:]]Fantasy[[:space:]]for[[:space:]]Mobile/Scenes/_Lightmaps_Unity_5.4_or_Higher/FF[[:space:]]Demo[[:space:]]06[[:space:]]Cave[[:space:]](960x600px)/LightingData.asset filter=lfs diff=lfs merge=lfs -text
